# Database Configuration
MONGODB_URI=mongodb+srv://nikmantchev_db_user:K2mJL0Awr3k5vv18@manaatlas.sk9t8ks.mongodb.net/?cv-website=ManaAtlas


# API Configuration
PORT=3001
NODE_ENV=development

# Vercel Deployment
VERCEL_URL=https://your-website.vercel.app
VERCEL_ENV=production

# Frontend API URL
VITE_API_URL=https://your-website.vercel.app/api